# Unipile API Configuration
UNIPILE_DSN="YOUR_DSN_HERE"
UNIPILE_ACCESS_TOKEN="YOUR_ACCESS_TOKEN_HERE"

# Telegram Bot Configuration
# Get token from @BotFather
TELEGRAM_BOT_TOKEN="YOUR_BOT_TOKEN_HERE"
# Get your ID from a user id bot
TELEGRAM_ADMIN_ID="YOUR_USER_CHAT_ID_HERE"

# Google Sheets Configuration
# Retrieve this by deploying the accompanying .gs code as a Web App
GOOGLE_APPS_SCRIPT_URL="YOUR_WEB_APP_URL_HERE"
